@import url(reset.css);
@import url(normalize.css);
/* Welcome to Compass. test
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 13, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "ff-tisa-web-pro", Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  background: #222; }
  /* line 21, ../sass/screen.scss */
  body a {
    color: #0088cc;
    text-decoration: none; }
    /* line 25, ../sass/screen.scss */
    body a:hover, body a:focus {
      color: #005580;
      text-decoration: underline; }

/* line 33, ../sass/screen.scss */
::selection {
  background: #04a9be;
  /* Safari */
  color: #FFF; }

/* line 37, ../sass/screen.scss */
::-moz-selection {
  background: #04a9be;
  /* Firefox */
  color: #FFF; }

/* RESPONSIVE IMAGES */
/* line 43, ../sass/screen.scss */
img {
  max-width: 100%; }

/* CLEARFIX HACK, GROUP IS MORE SEMANTIC */
/* line 49, ../sass/screen.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 53, ../sass/screen.scss */
.group:after {
  clear: both; }

/* line 56, ../sass/screen.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* line 60, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit; }

/* line 65, ../sass/screen.scss */
h1 {
  font-size: 2.1em;
  line-height: 0.7em; }

/* line 69, ../sass/screen.scss */
h2 {
  font-size: 2em;
  line-height: 1em; }

/* line 74, ../sass/screen.scss */
h3 {
  font-size: 0.8em;
  line-height: 1em; }

/* GENERIC PAGE STYLING */
/* line 80, ../sass/screen.scss */
.container {
  margin: 0 auto;
  position: relative;
  padding: 0 4%;
  width: 80%;
  max-width: 1200px;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 1024px) {
    /* line 80, ../sass/screen.scss */
    .container {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    /* line 80, ../sass/screen.scss */
    .container {
      text-align: center; } }

/* line 98, ../sass/screen.scss */
.page h1 {
  color: #ff7373;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }

/* Homepage Section */
/* line 107, ../sass/screen.scss */
header h2 {
  font-weight: 400;
  color: #000;
  color: rgba(0, 0, 0, 0.4); }
/* line 112, ../sass/screen.scss */
header .banner {
  background: #2c2c2c;
  border-bottom: solid 10px rgba(0, 0, 0, 0.2);
  padding: 35px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 8000;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  -webkit-transition: background-color  0.2s ease-in, padding 1s ease-in-out;
  -moz-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
  -o-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
  transition: background-color 0.2s ease-in, padding 1s ease-in-out;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 1024px) {
    /* line 112, ../sass/screen.scss */
    header .banner {
      padding: 10px 0; } }
  @media screen and (max-width: 500px) {
    /* line 112, ../sass/screen.scss */
    header .banner {
      position: static; }
      /* line 134, ../sass/screen.scss */
      header .banner .container {
        width: 90%; } }
  /* line 140, ../sass/screen.scss */
  header .banner .brand {
    float: left;
    width: 350px;
    /* START OF MEDIA QUERIES */
    /* END OF MEDIA QUERIES */ }
    @media screen and (max-width: 1024px) {
      /* line 140, ../sass/screen.scss */
      header .banner .brand {
        float: none;
        margin: auto; } }
    @media screen and (max-width: 500px) {
      /* line 140, ../sass/screen.scss */
      header .banner .brand {
        text-align: center;
        width: 100%;
        margin-top: 2em; }
        /* line 153, ../sass/screen.scss */
        header .banner .brand img {
          display: none; }
        /* line 156, ../sass/screen.scss */
        header .banner .brand > span {
          font-size: 0.6em; } }
    /* line 162, ../sass/screen.scss */
    header .banner .brand span {
      font-size: 0.7em;
      color: rgba(255, 255, 255, 0.4); }
    /* line 166, ../sass/screen.scss */
    header .banner .brand a {
      color: #FFF;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
      display: block;
      margin-top: 10px;
      text-decoration: none; }
    /* line 173, ../sass/screen.scss */
    header .banner .brand img {
      float: left;
      margin-right: 10px; }
    /* line 177, ../sass/screen.scss */
    header .banner .brand h1 {
      font-weight: 600; }
      /* line 179, ../sass/screen.scss */
      header .banner .brand h1 span {
        color: #FFF;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); }
/* line 186, ../sass/screen.scss */
header .collapsed {
  padding: 10px 0; }
/* line 189, ../sass/screen.scss */
header .change {
  background: #C04E4E; }

/* line 195, ../sass/screen.scss */
.nav {
  float: right;
  /* Start of Media Query */ }
  @media screen and (max-width: 1024px) {
    /* line 195, ../sass/screen.scss */
    .nav {
      float: none;
      width: 100%;
      margin: auto;
      clear: both;
      text-align: center; } }
  /* line 207, ../sass/screen.scss */
  .nav li {
    float: left;
    padding: 24px 20px;
    /* Start of Media Queries */ }
    @media screen and (max-width: 1024px) {
      /* line 207, ../sass/screen.scss */
      .nav li {
        float: none;
        display: inline-block; } }
    @media screen and (max-width: 500px) {
      /* line 207, ../sass/screen.scss */
      .nav li {
        float: none; } }
    /* line 220, ../sass/screen.scss */
    .nav li:hover {
      background: rgba(0, 0, 0, 0.7);
      -webkit-transition: background 3s ease;
      -moz-transition: background 3s ease;
      -ms-transition: background 3s ease;
      -o-transition: background 3s ease;
      transition: background 3s ease; }
  /* line 229, ../sass/screen.scss */
  .nav > li > a {
    color: #FFF;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    font-size: 0.8em; }
    /* line 233, ../sass/screen.scss */
    .nav > li > a:hover {
      text-decoration: none;
      color: #FFF;
      text-shadow: none; }

/* line 242, ../sass/screen.scss */
.nav .active {
  font-weight: bold; }

/* line 246, ../sass/screen.scss */
#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

/* line 254, ../sass/screen.scss */
.js {
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (min-width: 600px) {
    /* line 258, ../sass/screen.scss */
    .js #nav {
      position: relative; }
    /* line 261, ../sass/screen.scss */
    .js #nav.closed {
      max-height: none; } }
  /* line 267, ../sass/screen.scss */
  .js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1; }

/* line 277, ../sass/screen.scss */
#nav.opened {
  max-height: 9999px; }

/* line 281, ../sass/screen.scss */
#nav-toggle {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 0; }
  @media screen and (min-width: 600px) {
    /* line 281, ../sass/screen.scss */
    #nav-toggle {
      display: none; } }

/* line 294, ../sass/screen.scss */
#social_menu {
  display: none;
  position: absolute;
  top: 101px;
  background: #222; }
  /* line 299, ../sass/screen.scss */
  #social_menu .active {
    display: block; }
  /* line 302, ../sass/screen.scss */
  #social_menu li a {
    color: #FFF;
    display: inline-block; }

/* line 309, ../sass/screen.scss */
section #homepage {
  height: 34em;
  text-align: center;
  background: #009798 url(../images/grandparents_bg.jpg) no-repeat center -100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (min-width: 1600px) {
    /* line 309, ../sass/screen.scss */
    section #homepage {
      height: 38em;
      background-position: center -180px; } }
  @media screen and (max-width: 1024px) {
    /* line 309, ../sass/screen.scss */
    section #homepage {
      height: 33em;
      background-attachment: scroll;
      background-position: center 0; }
      /* line 329, ../sass/screen.scss */
      section #homepage .hero-unit span {
        font-size: 2.2em; } }
  @media screen and (max-width: 575px) {
    /* line 309, ../sass/screen.scss */
    section #homepage {
      height: 26em; } }
  /* line 339, ../sass/screen.scss */
  section #homepage h2 {
    color: #FFF;
    text-shadow: 0 2px 0 #000;
    font-family: "brandon-grotesque";
    text-transform: uppercase; }

/* line 348, ../sass/screen.scss */
.overlay {
  background: rgba(0, 134, 134, 0.75);
  height: 100%;
  -webkit-transition: background 2s ease-in;
  -moz-transition: background 2s ease-in;
  -ms-transition: background 2s ease-in;
  -o-transition: background 2s ease-in;
  transition: background 2s ease-in; }

/* line 359, ../sass/screen.scss */
.show_large img {
  height: 400px; }

/* line 364, ../sass/screen.scss */
.memo {
  text-align: center;
  width: 100%;
  margin-top: 140px;
  color: #FFF; }

/* line 372, ../sass/screen.scss */
.hero-unit {
  padding-top: 365px;
  color: inherit;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 10em;
  overflow: hidden;
  text-align: center;
  color: #BDDDDF;
  font-family: "brandon-grotesque";
  font-weight: 400;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 575px) {
    /* line 372, ../sass/screen.scss */
    .hero-unit {
      padding-top: 11em;
      height: 13em; } }
  @media screen and (max-width: 500px) {
    /* line 372, ../sass/screen.scss */
    .hero-unit {
      padding-top: 8em; }
      /* line 394, ../sass/screen.scss */
      .hero-unit span {
        font-size: 1.8em; } }
  /* line 400, ../sass/screen.scss */
  .hero-unit span {
    font-size: 3em;
    line-height: 1.1em; }
  /* line 404, ../sass/screen.scss */
  .hero-unit strong {
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF; }
  /* line 410, ../sass/screen.scss */
  .hero-unit a {
    display: block;
    max-width: 240px;
    background: #005152;
    color: #FFF;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 4px;
    -webkit-border-radius: 4px; }
    /* line 419, ../sass/screen.scss */
    .hero-unit a:hover {
      text-decoration: none;
      background: #10C7B9; }

/* FORM */
/* line 428, ../sass/screen.scss */
#contact_form {
  display: none;
  max-width: 800px;
  text-align: center; }
  /* line 433, ../sass/screen.scss */
  #contact_form h2 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }
  /* line 438, ../sass/screen.scss */
  #contact_form input, #contact_form textarea {
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #FFF;
    width: 500px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2); }
  /* line 449, ../sass/screen.scss */
  #contact_form label {
    display: block;
    text-align: left; }
  /* line 453, ../sass/screen.scss */
  #contact_form input[type="submit"] {
    width: auto;
    padding: 10px;
    background: #525353;
    color: #FFF; }

/* About Section */
/* line 464, ../sass/screen.scss */
section #about {
  background: #f8f8f8 url(../images/about_bg.png);
  border-top: 10px solid #F0F0F0;
  padding: 40px 0 100px 0;
  text-shadow: none;
  position: relative;
  z-index: 1;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 500px) {
    /* line 464, ../sass/screen.scss */
    section #about {
      text-align: center; } }
  /* line 478, ../sass/screen.scss */
  section #about img {
    float: left;
    padding-right: 25px; }
  /* line 482, ../sass/screen.scss */
  section #about p {
    padding-bottom: 10px; }
  /* line 485, ../sass/screen.scss */
  section #about h2 {
    color: #222;
    text-shadow: 0 2px 0 #E6E6E6; }
  /* line 489, ../sass/screen.scss */
  section #about .btn {
    background: #C04E4E;
    padding: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFF;
    display: inline-block;
    margin: 20px 0; }
/* line 499, ../sass/screen.scss */
section article {
  color: #505050;
  border-bottom: 1px solid #DDD;
  padding: 20px 2px;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  /* line 503, ../sass/screen.scss */
  section article:hover {
    color: #038BD8;
    -webkit-transition: background-color  1s ease-in-out, color 1s ease;
    -moz-transition: background-color 1s ease-in-out, color 1s ease;
    -o-transition: background-color 1s ease-in-out, color 1s ease;
    transition: background-color 1s ease-in-out, color 1s ease; }
  @media screen and (max-width: 500px) {
    /* line 499, ../sass/screen.scss */
    section article {
      text-align: left; } }
  @media screen and (max-width: 480px) {
    /* line 516, ../sass/screen.scss */
    section article p {
      text-align: justify; } }

/* Work Section */
/* line 528, ../sass/screen.scss */
section #work {
  background: #222;
  padding: 30px 0 100px 0;
  color: #ECE9E9;
  font-weight: 200;
  position: relative;
  z-index: 1;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 575px) {
    /* line 528, ../sass/screen.scss */
    section #work {
      text-align: center; } }
  /* line 542, ../sass/screen.scss */
  section #work h2 {
    color: #FFF;
    text-shadow: 0 2px 0 #000;
    margin-bottom: 20px; }
  /* line 547, ../sass/screen.scss */
  section #work dd {
    text-align: center; }
@media screen and (max-width: 800px) {
  /* line 551, ../sass/screen.scss */
  section .thumb {
    width: 46%;
    margin-right: 4%; } }
@media screen and (max-width: 575px) {
  /* line 551, ../sass/screen.scss */
  section .thumb {
    float: none;
    width: 100%;
    margin-right: 0; }
    /* line 560, ../sass/screen.scss */
    section .thumb:hover {
      background: none; } }

/* line 568, ../sass/screen.scss */
.accordion > dt > span {
  display: inline-block;
  padding: 10px;
  width: 100%;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 500px) {
    /* line 568, ../sass/screen.scss */
    .accordion > dt > span {
      font-size: 1em; } }
/* line 580, ../sass/screen.scss */
.accordion dt {
  background: #000;
  margin-bottom: 5px;
  cursor: pointer; }

/* line 588, ../sass/screen.scss */
.box {
  border: 5px solid #000;
  cursor: pointer;
  height: 200px;
  display: inline-block;
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 300px;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 800px) {
    /* line 588, ../sass/screen.scss */
    .box {
      float: none;
      margin: 10px auto; } }
  @media screen and (max-width: 500px) {
    /* line 588, ../sass/screen.scss */
    .box {
      width: 200px;
      height: 130px; } }
  /* line 609, ../sass/screen.scss */
  .box img {
    position: absolute;
    left: 0; }
  /* line 613, ../sass/screen.scss */
  .box :hover .caption {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 1em;
    bottom: 0;
    text-align: center; }

/* line 623, ../sass/screen.scss */
.caption {
  display: none;
  color: #FFF;
  /* START OF MEDIA QUERIES */
  /* END OF MEDIA QUERIES */ }
  @media screen and (max-width: 500px) {
    /* line 623, ../sass/screen.scss */
    .caption {
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      padding: 1em;
      bottom: 0;
      text-align: center; } }
  /* line 638, ../sass/screen.scss */
  .caption p {
    font-size: 0.8em;
    line-height: 1.2em; }

/* Footer */
/* line 645, ../sass/screen.scss */
footer {
  background: #07abbf;
  color: #FFF;
  padding: 35px;
  overflow: auto; }
  /* line 650, ../sass/screen.scss */
  footer p {
    float: left;
    padding-top: 18px; }
  @media screen and (max-width: 850px) {
    /* line 645, ../sass/screen.scss */
    footer {
      text-align: center; }
      /* line 656, ../sass/screen.scss */
      footer p {
        float: none; } }

/* Social bar for the footer */
/* line 665, ../sass/screen.scss */
nav .social_bar {
  float: right; }
  /* line 667, ../sass/screen.scss */
  nav .social_bar li {
    display: inline-block;
    text-align: left;
    padding: 0 10px; }
    /* line 671, ../sass/screen.scss */
    nav .social_bar li a {
      color: #363636;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  @media screen and (max-width: 850px) {
    /* line 665, ../sass/screen.scss */
    nav .social_bar {
      float: none;
      clear: both; } }
