@import url(reset.css);
@import url(normalize.css);
@import url(responsive.css);
/* Welcome to Compass. test
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 13, ../sass/screen.scss */
body {
  margin: 0;
  font-family: "ff-tisa-web-pro", Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  background: #222222; }

/* line 22, ../sass/screen.scss */
a {
  color: #0088cc;
  text-decoration: none; }

/* line 28, ../sass/screen.scss */
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline; }

/* line 33, ../sass/screen.scss */
::selection {
  background: #04a9be;
  /* Safari */
  color: #FFF; }

/* line 37, ../sass/screen.scss */
::-moz-selection {
  background: #04a9be;
  /* Firefox */
  color: #FFF; }

/* CLEARFIX HACK */
/* line 44, ../sass/screen.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 48, ../sass/screen.scss */
.group:after {
  clear: both; }

/* line 51, ../sass/screen.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* line 55, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit; }

/* line 60, ../sass/screen.scss */
h1 {
  font-size: 2.1em;
  line-height: 0.7em; }

/* line 64, ../sass/screen.scss */
h2 {
  font-size: 2em;
  line-height: 1em; }

/* line 69, ../sass/screen.scss */
h3 {
  font-size: 0.8em;
  line-height: 1em; }

/* GENERIC PAGE STYLING */
/* line 75, ../sass/screen.scss */
.container {
  margin: 0 auto;
  position: relative;
  padding: 0 4%;
  width: 80%;
  max-width: 1200px; }

/* line 83, ../sass/screen.scss */
.page h1 {
  color: #ff7373;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }

/* Homepage Section */
/* line 91, ../sass/screen.scss */
header.banner {
  background: #2c2c2c;
  border-bottom: solid 10px rgba(0, 0, 0, 0.2);
  padding: 35px 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 8000;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  -webkit-transition: background-color  0.2s ease-in, padding 1s ease-in-out;
  -moz-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
  -o-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
  transition: background-color 0.2s ease-in, padding 1s ease-in-out; }

/* line 108, ../sass/screen.scss */
header.collapsed {
  padding: 10px 0; }

/* line 112, ../sass/screen.scss */
header.change {
  background: #C04E4E; }

/* line 116, ../sass/screen.scss */
header .brand {
  float: left;
  width: 450px; }

/* line 121, ../sass/screen.scss */
.brand span {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.4); }

/* line 126, ../sass/screen.scss */
header h2 {
  font-weight: 400;
  color: #000;
  color: rgba(0, 0, 0, 0.4); }

/* line 133, ../sass/screen.scss */
nav ul {
  float: right; }

/* line 137, ../sass/screen.scss */
nav ul li {
  float: left;
  padding: 24px 20px; }

/* line 142, ../sass/screen.scss */
nav ul li:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: background 3s ease;
  -moz-transition: background 3s ease;
  -ms-transition: background 3s ease;
  -o-transition: background 3s ease;
  transition: background 3s ease; }

/* line 151, ../sass/screen.scss */
nav ul > li > a {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8em; }

/* line 157, ../sass/screen.scss */
nav ul > li > a:hover {
  text-decoration: none;
  color: #FFF;
  text-shadow: none; }

/* line 163, ../sass/screen.scss */
.nav .active {
  font-weight: bold; }

/* line 167, ../sass/screen.scss */
#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

/* line 175, ../sass/screen.scss */
.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

/* line 184, ../sass/screen.scss */
#nav.opened {
  max-height: 9999px; }

/* line 188, ../sass/screen.scss */
#nav-toggle {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 0; }

/* line 196, ../sass/screen.scss */
#social_menu {
  display: none;
  position: absolute;
  top: 101px;
  background: #222; }

/* line 203, ../sass/screen.scss */
#social_menu.active {
  display: block; }

/* line 207, ../sass/screen.scss */
#social_menu li a {
  color: #FFF;
  display: inline-block; }

/* line 213, ../sass/screen.scss */
section #homepage {
  height: 34em;
  text-align: center;
  background: #009798 url(../images/grandparents_bg.jpg) no-repeat center -100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

/* line 224, ../sass/screen.scss */
.overlay {
  background: rgba(0, 134, 134, 0.75);
  height: 100%;
  -webkit-transition: background 2s ease-in;
  -moz-transition: background 2s ease-in;
  -ms-transition: background 2s ease-in;
  -o-transition: background 2s ease-in;
  transition: background 2s ease-in; }

/* line 234, ../sass/screen.scss */
#homepage h2 {
  color: #FFF;
  text-shadow: 0 2px 0 #000;
  font-family: "brandon-grotesque";
  text-transform: uppercase; }

/* line 241, ../sass/screen.scss */
.show_large images {
  height: 400px; }

/* line 246, ../sass/screen.scss */
.memo {
  text-align: center;
  width: 100%;
  margin-top: 140px;
  color: #FFF; }

/* line 253, ../sass/screen.scss */
.brand a {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin-top: 10px; }

/* line 260, ../sass/screen.scss */
.brand images {
  float: left;
  margin-right: 10px; }

/* line 265, ../sass/screen.scss */
.brand h1 {
  font-weight: 600; }

/* line 268, ../sass/screen.scss */
.brand a {
  text-decoration: none; }

/* line 269, ../sass/screen.scss */
.brand h1 span {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); }

/* line 275, ../sass/screen.scss */
.hero-unit {
  padding-top: 365px;
  color: inherit;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 215px;
  overflow: hidden;
  text-align: center;
  color: #BDDDDF;
  font-family: "brandon-grotesque";
  font-weight: 400;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

/* line 291, ../sass/screen.scss */
.hero-unit span {
  font-size: 3em;
  line-height: 1.1em; }

/* line 295, ../sass/screen.scss */
.hero-unit strong {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFF; }

/* line 302, ../sass/screen.scss */
.hero-unit a {
  display: block;
  max-width: 240px;
  background: #005152;
  color: #FFF;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 4px;
  -webkit-border-radius: 4px; }

/* line 312, ../sass/screen.scss */
.hero-unit a:hover {
  text-decoration: none;
  background: #10C7B9; }

/* FORM */
/* line 318, ../sass/screen.scss */
#contact_form {
  display: none;
  max-width: 800px;
  text-align: center; }

/* line 323, ../sass/screen.scss */
#contact_form h2 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }

/* line 329, ../sass/screen.scss */
#contact_form input, #contact_form textarea {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #FFF;
  width: 500px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2); }

/* line 341, ../sass/screen.scss */
#contact_form label {
  display: block;
  text-align: left; }

/* line 346, ../sass/screen.scss */
#contact_form input[type="submit"] {
  width: auto;
  padding: 10px;
  background: #525353;
  color: #FFF; }

/* About Section */
/* line 355, ../sass/screen.scss */
section #about {
  background: #f8f8f8 url(../images/about_bg.png);
  border-top: 10px solid #F0F0F0;
  padding: 40px 0 100px 0;
  text-shadow: none;
  position: relative;
  z-index: 1; }

/* line 364, ../sass/screen.scss */
section #about images {
  float: left;
  padding-right: 25px; }

/* line 370, ../sass/screen.scss */
#about p {
  padding-bottom: 10px; }

/* line 374, ../sass/screen.scss */
#about h2 {
  color: #222;
  text-shadow: 0 2px 0 #E6E6E6; }

/* line 379, ../sass/screen.scss */
#about .btn {
  background: #C04E4E;
  padding: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  display: inline-block;
  margin: 20px 0; }

/* line 389, ../sass/screen.scss */
section article {
  color: #505050;
  border-bottom: 1px solid #DDD;
  padding: 20px 2px; }

/* line 395, ../sass/screen.scss */
article:hover {
  color: #038BD8;
  -webkit-transition: background-color  1s ease-in-out, color 1s ease;
  -moz-transition: background-color 1s ease-in-out, color 1s ease;
  -o-transition: background-color 1s ease-in-out, color 1s ease;
  transition: background-color 1s ease-in-out, color 1s ease; }

/* Work Section */
/* line 404, ../sass/screen.scss */
section #work {
  background: #222;
  padding: 30px 0 100px 0;
  color: #ECE9E9;
  font-weight: 200;
  position: relative;
  z-index: 1; }

/* line 413, ../sass/screen.scss */
#work h2 {
  color: #FFF;
  text-shadow: 0 2px 0 #000;
  margin-bottom: 20px; }

/* line 419, ../sass/screen.scss */
.accordion > dt > span {
  display: inline-block;
  padding: 10px;
  width: 100%; }

/* line 425, ../sass/screen.scss */
.accordion dt {
  background: #000;
  margin-bottom: 5px;
  cursor: pointer; }

/* line 431, ../sass/screen.scss */
#work dd {
  text-align: center; }

/* line 435, ../sass/screen.scss */
.box {
  border: 5px solid #000;
  cursor: pointer;
  height: 200px;
  display: inline-block;
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 300px; }

/* line 446, ../sass/screen.scss */
.box images {
  position: absolute;
  left: 0; }

/* line 451, ../sass/screen.scss */
.caption {
  display: none;
  color: #FFF; }

/* line 456, ../sass/screen.scss */
.box:hover .caption {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  bottom: 0;
  text-align: center; }

/* line 465, ../sass/screen.scss */
.caption p {
  font-size: 0.8em;
  line-height: 1.2em; }

/* Footer */
/* line 471, ../sass/screen.scss */
footer {
  background: #07abbf;
  color: #FFF;
  padding: 35px; }
