/* Welcome to Compass. test
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "reset.css";
@import "normalize.css";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
  font-family: "ff-tisa-web-pro", Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  background: #222;

	a {
	  color: #0088cc;
	  text-decoration: none;
		&:hover,
	    &:focus {
  	  		color: #005580;
        	text-decoration: underline;
     	}
	}

}

::selection {
	background: #04a9be; /* Safari */
	color: #FFF;
}
::-moz-selection {
	background: #04a9be; /* Firefox */
	color: #FFF;
}

/* RESPONSIVE IMAGES */
img {
	max-width: 100%;
}

/* CLEARFIX HACK, GROUP IS MORE SEMANTIC */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

h1,h2,h3,h4,h5,h6,p {
	font-family: inherit;
	font-size: inherit;
}

h1 {
	font-size: 2.1em;
 	line-height: 0.7em;
}
h2 {
	font-size: 2em;
	line-height: 1em;
}

h3 {
	font-size: 0.8em;
	line-height: 1em;
}
/* GENERIC PAGE STYLING */

.container {
	margin: 0 auto;
	position: relative;
	padding: 0 4%;
	width: 80%;
	max-width: 1200px;

	/* START OF MEDIA QUERIES */
	@media screen and (max-width: 1024px) {
		width: 90%;
	}
	@media screen and (max-width: 480px) {
		text-align: center;
	}
	/* END OF MEDIA QUERIES */

}

.page h1 {
	color: #ff7373;
	text-shadow: 0 4px 0 rgba(0,0,0,0.1);
}


/* Homepage Section */

header {
	h2 {
		font-weight: 400;
		color: #000;
		color: rgba(0,0,0,0.4)
	}
	.banner {
		background: #2c2c2c;
		border-bottom: solid 10px rgba(0,0,0,0.2);
		padding: 35px 0;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 8000;
		font-family: "brandon-grotesque", sans-serif;
		text-transform: uppercase;
		-webkit-transition: background-color  0.2s ease-in, padding 1s ease-in-out;
		-moz-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
		-o-transition: background-color 0.2s ease-in, padding 1s ease-in-out;
		transition: background-color 0.2s ease-in, padding 1s ease-in-out;

		/* START OF MEDIA QUERIES */
		@media screen and (max-width: 1024px) {
			padding: 10px 0;
		}
		@media screen and (max-width: 500px) {
			position: static;
			.container {
				width: 90%;
			}
		}
		/* END OF MEDIA QUERIES */

		.brand {
			float: left;
			width: 350px;

			/* START OF MEDIA QUERIES */
			@media screen and (max-width: 1024px) {
				float: none;
				margin: auto;
			}
			@media screen and (max-width: 500px) {
				text-align: center;
				width: 100%;
				margin-top: 2em;
				img {
					display: none;
				}
				> span {
					font-size: 0.6em;
				}
			}
			/* END OF MEDIA QUERIES */

			span {
				font-size: 0.7em;
				color: rgba(255,255,255,0.4);
			}
			a {
				color: #FFF;
				text-shadow: 0 2px 0 rgba(0,0,0,0.2);
				display: block;
				margin-top: 10px;
				text-decoration: none;
			}
			img {
				float: left;
				margin-right: 10px;
			}
			h1 {
				font-weight: 600;
				span {
					color: #FFF;
					text-shadow: 0 2px 0 rgba(0,0,0,0.3);
				}
			}
		}
	}
	.collapsed {
		padding: 10px 0;
	}
	.change {
		background: #C04E4E;
	}
}


.nav  {
	float: right;

	/* Start of Media Query */
	@media screen and (max-width: 1024px) {
		float: none;
		width: 100%;
		margin: auto;
		clear: both;
		text-align: center;
	}

	li {
		float: left;
		padding: 24px 20px;

		/* Start of Media Queries */
		@media screen and (max-width: 1024px) {
			float: none;
			display: inline-block;
		}
		@media screen and (max-width: 500px) {
			float: none;
		}

		&:hover {
			background: rgba(0,0,0,0.7);
			-webkit-transition: background 3s ease;
			-moz-transition: background 3s ease;
	        -ms-transition: background 3s ease;
	        -o-transition: background 3s ease;
			transition: background 3s ease;
		}
	} 
	> li > a {
				color: #FFF;
				text-shadow: 0 2px 0 rgba(0,0,0,0.3);
				font-size: 0.8em;
				&:hover {
					text-decoration: none;
					color: #FFF;
					text-shadow: none;
				}
			}
}


.nav .active {
	font-weight: bold;
}

#nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
}

.js {

	/* START OF MEDIA QUERIES */
	@media screen and (min-width: 600px) {
	  #nav {
		position: relative;
	  }
	  #nav.closed {
		max-height: none;
	  }
	}
	/* END OF MEDIA QUERIES */

	#nav {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
		zoom: 1;
	}
}

#nav.opened {
	max-height: 9999px;
}

#nav-toggle {
	color: #FFF;
	text-shadow: 0 2px 0 rgba(255,255,255,0.1);
	position: absolute;
	right: 0;
	top: 0;

	@media screen and (min-width: 600px) {
		display: none;
	}

}

#social_menu {
	display: none;
	position: absolute;
	top: 101px;
	background: #222;
	.active {
		display: block;
	}
	li a {
		color: #FFF;
		display: inline-block;
	}
}

section {
	#homepage {
		height: 34em;
		text-align: center;
		background: #009798 url(../images/grandparents_bg.jpg) no-repeat center -100px;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;

		/* START OF MEDIA QUERIES */
		@media screen and (min-width: 1600px) {
			height: 38em;
			background-position: center -180px;
		}
		@media screen and (max-width: 1024px) {
			height: 33em;
			background-attachment: scroll;
			background-position: center 0;
			.hero-unit {
				span {
					font-size: 2.2em;
				}
			}
		}
		@media screen and (max-width: 575px) {
			height: 26em;
		}
		/* END OF MEDIA QUERIES */

		h2 {
				color: #FFF;
				text-shadow: 0 2px 0 #000;
				font-family: "brandon-grotesque";
				text-transform: uppercase;
			}
	}
}

.overlay {
	background: rgba(0,134,134,0.75);
	height: 100%;
	-webkit-transition: background 2s ease-in;
	-moz-transition: background 2s ease-in;
	-ms-transition: background 2s ease-in;
	-o-transition: background 2s ease-in;
	transition: background 2s ease-in;
}


.show_large img {
	height: 400px;
}


.memo {
	text-align: center;
	width: 100%;
	margin-top: 140px;
	color: #FFF;
}


.hero-unit {
	padding-top: 365px;
	color: inherit;
	position: relative;
	z-index: 5;
	width: 100%;
	height: 10em;
	overflow: hidden;
	text-align: center;
	color: #BDDDDF;
	font-family: "brandon-grotesque";
	font-weight: 400;
	text-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-text-shadow: 0 0 10px rgba(0,0,0,0.2);

	/* START OF MEDIA QUERIES */
	@media screen and (max-width: 575px) {
		padding-top: 11em;
		height: 13em;
	}
	@media screen and (max-width: 500px) {
		padding-top: 8em;
		span {
			font-size: 1.8em;
		}
	}
	/* END OF MEDIA QUERIES */

	span {
		font-size: 3em;
		line-height: 1.1em;
	}
	strong {
		font-weight: bold;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFF;
	}
	a {
		display: block;
		max-width: 240px;
		background: #005152;
		color: #FFF;
		padding: 10px 20px;
		margin: 10px auto;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		&:hover {
			text-decoration: none;
			background: #10C7B9;
		}
	}
}


/* FORM */
#contact_form {
	display: none;
	max-width: 800px;
	text-align: center;

	h2 {
		margin-bottom: 20px;
		text-align: center;
		text-shadow: 0 2px 0 rgba(0,0,0,0.1);
	}
	input, textarea {
		font-size: 1.2em;
		color: rgba(255,255,255,1);
		border-radius: 5px;
		border: none;
		background-color: #FFF;
		width: 500px;
		padding: 5px;
		-webkit-box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, 0.2);
	    box-shadow:  2px 2px 0px 0px rgba(0, 0, 0, 0.2);
	}
	label {
		display: block;
		text-align: left;
	}
	input[type="submit"] {
		width: auto;
		padding: 10px;
		background: #525353;
		color: #FFF;
	}
}

/* About Section */

section {
	#about {
		background: #F8F8F8 url(../images/about_bg.png);
		border-top: 10px solid #F0F0F0;
		padding: 40px 0 100px 0;
		text-shadow: none;
		position: relative;
		z-index: 1;

		/* START OF MEDIA QUERIES */
		@media screen and (max-width: 500px) {
			text-align: center;
		}
		/* END OF MEDIA QUERIES */

		img {
			float: left;
			padding-right: 25px;
		}
	 	p {
			padding-bottom: 10px;
		}
		h2 {
			color: #222;
			text-shadow: 0 2px 0 #E6E6E6;
		}
		.btn {
			background: #C04E4E;
			padding: 14px;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			color: #FFF;
			display: inline-block;
			margin: 20px 0;
		}
	}
	article {
		color: #505050;
		border-bottom: 1px solid #DDD;
		padding: 20px 2px;
		&:hover {
			color: #038BD8;
			-webkit-transition: background-color  1s ease-in-out, color 1s ease;
			-moz-transition: background-color 1s ease-in-out, color 1s ease;
			-o-transition: background-color 1s ease-in-out, color 1s ease;
			transition: background-color 1s ease-in-out, color 1s ease;
		}

		/* START OF MEDIA QUERIES */
		@media screen and (max-width: 500px) {
			text-align: left;
		}
		@media screen and (max-width: 480px) {
			p {
				text-align: justify;
			}
		}
		/* END OF MEDIA QUERIES */

	}
}


/* Work Section */
section {
	#work {
		background: #222;
		padding: 30px 0 100px 0;
		color: #ECE9E9;
		font-weight: 200;
		position: relative;
		z-index: 1;

		/* START OF MEDIA QUERIES */
		@media screen and (max-width: 575px) {
			text-align: center;
		}
		/* END OF MEDIA QUERIES */

		h2 {
			color: #FFF;
			text-shadow: 0 2px 0 #000;
			margin-bottom: 20px;
		}
		dd {
			text-align: center;
		}
	}
	.thumb {
		@media screen and (max-width: 800px) {
			width: 46%;
			margin-right: 4%;
		}
		@media screen and (max-width: 575px) {
			float: none;
			width: 100%;
			margin-right: 0;
			&:hover {
				background: none;
			}
		}
	}
}

.accordion {
	> dt > span {
	display: inline-block;
	padding: 10px;
	width: 100%;

	/* START OF MEDIA QUERIES */
	@media screen and (max-width: 500px) {
		font-size: 1em;
	}
	/* END OF MEDIA QUERIES */

	}
	dt {
		background: #000;
		margin-bottom: 5px;
		cursor: pointer;
	}
}


.box {
    border: 5px solid #000;
    cursor: pointer;
    height: 200px;
    display: inline-block;
    margin: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;

    /* START OF MEDIA QUERIES */
	@media screen and (max-width: 800px) {
		float: none;
		margin: 10px auto;
	}
	@media screen and (max-width: 500px) {
		width: 200px;
		height: 130px;
	}
	/* END OF MEDIA QUERIES */

	img {
	    position: absolute;
	    left: 0;
	}
	:hover .caption {
		display: block;
		position: absolute;
		background: rgba(0,0,0,0.8);
		padding: 1em;
		bottom: 0;
		text-align: center;
	}
}

.caption {
	display: none;
	color: #FFF;

	/* START OF MEDIA QUERIES */
	@media screen and (max-width: 500px) {
		display: block;
		position: absolute;
		background: rgba(0,0,0,0.8);
		padding: 1em;
		bottom: 0;
		text-align: center;
	}
	/* END OF MEDIA QUERIES */

	p {
		font-size: 0.8em;
		line-height: 1.2em;
	}
}

/* Footer */
footer {
	background: #07abbf;
	color: #FFF;
	padding: 35px;
	overflow: auto;
	p {
		float: left;
		padding-top: 18px;
	}
	@media screen and (max-width: 850px) {
		text-align: center;
		p {
			float: none;
		}
	}
}

/* Social bar for the footer */

nav {
	.social_bar {
		float: right;
		li {
			display: inline-block;
			text-align: left;
			padding: 0 10px;
			a {
				color: #363636;
				text-shadow: 0 1px 0 rgba(255,255,255,0.8);
			}
		}
		@media screen and (max-width: 850px) {
			float: none;
			clear: both;
		}
	}
}


