/* START OF SASS VARIABLES */

/* Fonts */
$font: "brandon-grotesque", sans-serif;

/* MISC */
$transitions: background 2s ease-in;
/* Media Query Variables */

$oldcomputers: 1024px;
$mobile: 480px; 